<div class="hero-unit">
  <h1><%= @content.title %></h1>
</div>

<%= render_sir_trevor(@content.content) %>


<aside class="share clearfix" style="padding: 50px 0;">
  <h3>Share this article</h3>

  <ul class="nav">
    <li class="span2">
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=50&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=65&amp;appId=489424837868248" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:65px;" allowTransparency="true"></iframe>
    </li>
    <li class="span2">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="burgersnatch" data-size="large">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    <li class="span2">
      <script src="https://platform.linkedin.com/in.js" type="text/javascript">
        lang: en_US
      </script>
      <script type="IN/Share" data-counter="top"></script>
    </li>
  </ul>
</aside>
